<!--====== Blogs PART START ======-->

<section class="work-area pt-25 pb-30" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-30">
                    <h2 class="title" style="margin-top: 20px; padding: 20px;">My Blogs</h2>
                    <!-- <p>.</p> -->
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->

        <!-- https://stackoverflow.com/a/42117768 
           https://getbootstrap.com/docs/4.0/components/card/ -->
        <div class="container-fluid">
            <div class="row flex-row flex-nowrap overflow-auto" id="medium-rss">

                <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="card-link" target="_blank">Card link</a>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

    </div> <!-- container -->
</section>

<!--====== Blogs PART ENDS ======-->