.card {
    /* Adjust as needed */
    height: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-body figure {
    margin: 0 0 0.5rem 0;
    max-height: 180px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 180px;
}

.card-text, .card-body p {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Number of lines to show */
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-bottom: 0.5rem;
}