<!--====== Publications PART START ======-->

<section class="work-area pt-25 pb-30" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title pb-25">
          <h2 class="title">My Publications</h2>
          <p></p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="">
          <ul>
            <li>
              <p>
                <b>Hossain, M.</b>, Das, S., Krishnamurthy, B., & Shiva, S. G. (2023, October). 
                <a href="https://link.springer.com/chapter/10.1007/978-3-031-17098-0_9" target="_blank">Explainability of Artificial Intelligence Systems: A Survey</a>. 
                In 2023 International Symposium on Networks, Computers and Communications (ISNCC) (pp. 1-6). IEEE.
              </p>
            </li>
            
            <li>
              <p>
                <b>Hossain, M.</b>, Ma, T., Watson, T., Simmers, B., Khan, J. A., Jacobs, E., & Wang, L.  (2022, September). 
                <a href="https://link.springer.com/chapter/10.1007/978-3-031-17098-0_9" target="_blank">Building Rich Interior Hazard Maps for Public Safety</a>. 
                In Smart Cities, Green Technologies, and Intelligent Transport Systems: 10th International Conference, SMARTGREENS 2021, and 7th International Conference, VEHITS 2021, Virtual Event, April 28–30, 2021, Revised Selected Papers (p. 173). Springer Nature.                
              </p>
            </li>
            
            <li>
              <p>
                <b>Hossain, M.</b>, Ma, T., Watson, T., Simmers, B., Khan, J. A., Jacobs, E. L., & Wang, L. (2021, April). 
                <a href="http://web0.cs.memphis.edu/~lanwang/paper/SMARTGREENS_2021_21_CR.pdf" target="_blank">
                  Building Indoor Point Cloud Datasets with Object Annotation for Public Safety</a>.
                In Proceedings of the 10th International Conference on Smart Cities and Green ICT Systems (SMARTGREENS 2021) (pp. 45-56).
              </p>
            </li>

          </ul>
        </div> <!-- single work -->
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== Publications PART ENDS ======-->


<!--====== Blogs PART START ======-->

<section class="work-area pt-25 pb-30" id="blogs">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title pb-25">
          <h2 class="title">My Blogs</h2>
          <p></p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- https://www.twilik.com/embed-your-medium-blog -->
        <!-- https://hershilpiplani.medium.com/how-to-embed-your-medium-articles-on-your-website-85bfb7ddf943 -->
        <div 
            id="retainable-rss-embed" 
            data-rss="https://medium.com/feed/@hossain.mazharul" 
            data-maxcols="3"
            data-layout="slider" data-poststyle="inline" data-readmore="Read the rest" 
            data-buttonclass="btn btn-primary"
            data-offset="-100">
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== Blogs PART ENDS ======-->


<!--====== SERVICES PART START ======-->

<section class="services-area gray-bg pt-125 pb-130" id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-30">
          <h2 class="title">My Expertise</h2>
          <p>.</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-code-alt"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">AI, ML and Deep Learning</a></h4>
            <p>.</p>
          </div>
        </div> <!-- single service -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-website"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">Web Development</a></h4>
            <p></p>
          </div>
        </div> <!-- single service -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-support"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">Data Scientist</a></h4>
            <p>.</p>
          </div>
        </div> <!-- single service -->
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->


<!--====== CALL TO ACTION PART START ======-->

<!-- <section class="call-to-action pt-125 pb-130 bg_cover" id="call-to-action"
  style="background-image: url(assets/images/call-to-action.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <div class="call-action-content text-center">
          <h2 class="action-title">Have any project on mind?</h2>
          <p>Interested to hire me? Any product idea in mind or need software solution.</p>
          <ul>
            <li><a class="main-btn custom" href="#">request cv</a></li>
            <li><a class="main-btn custom-2" href="#">hire me</a></li>
          </ul>
        </div>
        -->
        <!-- call action content -->
      <!-- </div> -->
    <!-- </div>  -->
    <!-- row -->
  <!-- </div>  -->
  <!-- container -->
<!-- </section>  -->

<!--====== CALL TO ACTION PART ENDS ======-->


<!--====== WORK PART START ======-->

<section class="work-area pt-25 pb-30" id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title pb-25">
          <h2 class="title">My Recent Projects</h2>
          <p></p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-work text-center mt-30">
          <div class="work-image">
            <picture>
              <source type="image/webp" srcset="assets/images/next_gen/work/w-1.webp" alt="work">
              <img loading="lazy" alt="work" src="assets/images/work/w-1.png">
            </picture>
          </div>
          <div class="work-overlay">
            <div class="work-content">
              <h3 class="work-title">Map901</h3>
              <p>Indoor LiDAR and Image Dataset | Indoor Object Detection using DNN</p>
              <ul>
                <li><a class="image-popup" href="assets/images/work/w-1.png">
                    <i class="lni-plus"></i></a></li>
                <li><a href="http://map901.memphis.edu/" target="_blank" rel="nofollow noopener noreferrer">
                    <i class="lni-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!-- single work -->
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-work text-center mt-30">
          <div class="work-image">
            <picture>
              <source type="image/webp" srcset="assets/images/next_gen/work/w-2.webp" alt="work">
              <img loading="lazy" alt="work" src="assets/images/work/w-2.png">
            </picture>
          </div>
          <div class="work-overlay">
            <div class="work-content">
              <h3 class="work-title">Personal Website</h3>
              <ul>
                <li><a class="image-popup" href="assets/images/work/w-2.png">
                    <i class="lni-plus"></i></a></li>
                <li><a href="https://github.com/Mazharul-Hossain/Personal-Website" target="_blank"
                    rel="nofollow noopener noreferrer"><i class="lni-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!-- single work -->
      </div>

      <!--      <div class="col-lg-4 col-md-6 col-sm-6">-->
      <!--        <div class="single-work text-center mt-30">-->
      <!--          <div class="work-image">-->
      <!--            <img loading="lazy" alt="work" src="assets/images/work/w-1.jpg">-->
      <!--          </div>-->
      <!--          <div class="work-overlay">-->
      <!--            <div class="work-content">-->
      <!--              <h3 class="work-title">Product Design</h3>-->
      <!--              <ul>-->
      <!--                <li><a class="image-popup" href="assets/images/work/w-1.jpg"><i-->
      <!--                  class="lni-plus"></i></a></li>-->
      <!--                <li><a href="#"><i class="lni-link"></i></a></li>-->
      <!--              </ul>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div> &lt;!&ndash; single work &ndash;&gt;-->
      <!--      </div>-->

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== WORK PART ENDS ======-->
