<!--====== Publications PART START ======-->

<section class="work-area pt-25 pb-30" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="title">My Research Publications</h2>
          <p>.</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="alert alert-warning" role="alert">
      <h3><u>DISCLAIMER:</u></h3>
      <p>This material is presented to ensure timely dissemination of scholarly and technical work. Copyright and all
          rights therein are retained by authors or by other copyright holders. All persons copying this information
          are
          expected to adhere to the terms and constraints invoked by each author's copyright. In most cases, these
          works
          may not be reposted without the explicit permission of the copyright holder.

      </p>

      <p>Personal use of this material is permitted. However, permission to reprint/republish this material for
          advertising or promotional purposes or for creating new collective works for resale or redistribution to
          servers
          or lists, or to reuse any copyrighted component of this work in other works must be obtained from the
          publishers.

      </p>

      <p>All the IEEE journal, magazine and conference publications have the following copyright notice "20xx IEEE.
          Personal use of this material is permitted. Permission from IEEE must be obtained for all other uses,
          including
          reprinting/republishing this material for advertising or promotional purposes, collecting new collected
          works
          for resale or redistribution to servers or lists, or reuse of any copyrighted component of this work in
          other
          works."

      </p>
      <hr>
  </div>
  <h3>My Google Scholar Profile is <a href="https://scholar.google.com/citations?user=SGyRAu8AAAAJ&hl=en"
    target="_blank">here</a>.</h3>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="">
          <h2>Book Chapters and Journal Papers</h2>

          
          <ul>
            <li>
                <b>M. Hossain</b>, M. Younis, A. Robinson, L. Wang, C. Preza, "<a
                    href="https://www.cs.memphis.edu/~lanwang/paper/jimaging-10-00131.pdf" target="_blank">Greedy
                    Ensemble
                    Hyperspectral Anomaly Detection</a>," <i>Journal of Imaging</i>, 10 (6), 131, May 2024 [<a
                    href="https://www.mdpi.com/2313-433X/10/6/131" target="_blank">publisher link</a>]
            </li>

            <li>
                <b>M. Hossain</b>, T. Ma, T. Watson, B. Simmers, J. A. Khan, E. Jacobs, L. Wang, "<a
                    href="https://www.cs.memphis.edu/~lanwang/paper/Springer_book_our_version.pdf"
                    target="_blank">Building
                    Rich Interior Hazard Maps for Public Safety</a>," <i>Communications in Computer and Information
                    Science</i>, vol 1612. Klein, C., Jarke, M., Helfert, M., Berns, K., Gusikhin, O. (eds) Smart
                Cities,
                Green Technologies, and Intelligent Transport Systems. VEHITS SMARTGREENS 2021, Springer, 2022 [<a
                    href="https://link.springer.com/chapter/10.1007/978-3-031-17098-0_9" target="_blank">publisher
                    link</a>]
                (This is an extended version of our SMARTGREENS 2021 conference paper.)
            </li>
        </ul>


        </div> <!-- single work -->
      </div>

    </div> <!-- row -->
  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="">
          
          <h2>Conference and Workshop Papers</h2>

        <ul>
            <li>
                <b>M. Hossain</b>, A. Robinson, L. Wang, C. Preza, "<a
                    href="paper/SPIE2025_SemanticSegmentation_HRViTUNet.pdf" target="_blank">Improving Semantic
                    Segmentation
                    through Task Adaptation for UAV Hyperspectral Agricultural Imagery</a>," in the 10th conference on
                <i>Autonomous Air and Ground Sensing Systems for Agricultural Optimization and Phenotyping 2025</i>,
                SPIE,
                April 2025. [<a href="paper/13475-6_SPIE2025_SemanticSegmentation_HRViTUNet.pdf"
                    target="_blank">Slides</a> | Publisher Link]
            </li>

            <li>
                <b>M. Hossain</b>, A. Robinson, L. Wang, C. Preza, "<a
                    href="https://www.cs.memphis.edu/~lanwang/paper/SPIE2024_unsupervised_HS_AD.pdf"
                    target="_blank">Investigation of Unsupervised and Supervised Hyperspectral Anomaly Detection</a>,"
                in
                <i>Applications of Machine Learning 2024</i>, Vol. 13138, pp. 251-261, SPIE, poster, October 2024. [<a
                    href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/13138/1313817/Investigation-of-unsupervised-and-supervised-hyperspectral-anomaly-detection/10.1117/12.3029916.short"
                    target="_blank">Publisher Link</a>]
            </li>


            <li><b>M. Hossain</b>, Das, S., Krishnamurthy, B., Shiva, S. G., "Explainability of Artificial
                Intelligence Systems: A Survey", In <i>2023 International Symposium on Networks, Computers and
                    Communications
                    (ISNCC)</i>, pp. 1-6, IEEE, October 2023. [<a
                    href="https://doi.org/10.1109/ISNCC58260.2023.10323642" target="_blank">Publisher Link</a>]
            </li>

            <li>
                Dajkhosh, S. P., <b>Hossain, M.</b>, & Preza, C., "USR: Unrolled Super-Resolution with Deep Priors for
                Structured Illumination Microscopy", in <i>Imaging Systems and Applications</i>, pp. JTu4A-42, Optica
                Publishing Group, August 2023. [<a href="https://doi.org/10.1364/3D.2023.JTu4A.42"
                    target="_blank">Publisher
                    Link</a>]
            </li>


            <li>Das, S., <b>M. Hossain</b>, Shiva, S. G., "Requirements Elicitation and Stakeholder Communications for
                Explainable Machine Learning Systems: State of the Art", in <i>2023 International Conference on
                    Information
                    Technology (ICIT)</i>, pp. 561-566, IEEE, August 2023. [<a
                    href="https://doi.org/10.1109/ICIT58056.2023.10225934" target="_blank">Publisher Link</a>]
            </li>

            <li>
                M. S. H. Younis, <b>M. Hossain</b>, A. L. Robinson, L. Wang, C. Preza, "<a
                    href="https://www.cs.memphis.edu/~lanwang/paper/SPIE-conference23.pdf" target="_blank">Hyperspectral
                    Unmixing-based Anomaly Detection</a>," in <i>Computational Imaging VII</i>, Vol. 12523. SPIE, June
                2023.
                [<a href="https://doi.org/10.1117/12.2664706" target="_blank">Publisher Link</a>]
            </li>

            <li>Dajkhosh, S. P., <b>M. Hossain</b>, & Preza, C., Structured illumination microscope image reconstruction
                using unrolled physics-informed generative adversarial network (UPIGAN), in <i>Computational Imaging
                    VII</i>, Vol. 12523, pp. 63-74, SPIE, June, 2023. [<a href="https://doi.org/10.1117/12.2663268"
                    target="_blank">Publisher Link</a>]
            </li>

            <li>
                <b>M. Hossain</b>, T. Ma, T. Watson, B. Simmers, J. A. Khan, E. Jacobs, L. Wang, "<a
                    href="https://www.cs.memphis.edu/~lanwang/paper/SMARTGREENS_2021_21_CR.pdf" target="_blank">Building
                    Indoor Point Cloud Datasets with Object Annotation for Public Safety</a>," in <i>Proceedings of the
                    10th
                    International Conference on Smart Cities and Green ICT Systems (SMARTGREENS 2021)</i>, April 2021
                [<a href="https://www.scitepress.org/PublicationsDetail.aspx?ID=upgJR0REHi8=&amp;t=1"
                    target="_blank">Publisher Link</a>]
            </li>

        </ul>

        


      </div> <!-- single work -->
    </div>

  </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="">

          <h2>Thesis and Dissertation</h2>

        <ul>
            <li>
                <b>Hossain, M</b>, "<a href="https://digitalcommons.memphis.edu/etd/2200/" target="_blank">Instance
                    Segmentation of Public Safety Objects in RGB Image from Indoor Scene to Build Rich Interior Hazard
                    Maps</a>", in <i>Electronic Theses and Dissertations, 2200</i>, MS Thesis University of Memphis,
                August 2021.
            </li>
            <li>
                <b>Hossain, M</b>, "<a href="http://dx.doi.org/10.13140/RG.2.2.15611.84000" target="_blank">A Tale of
                    Energy Management in Heterogeneous Networks Using MDP</a>", BS Thesis Bangladesh University of
                Engineering and Technology, July 2014.
            </li>
        </ul>

        </div> <!-- single work -->
      </div>
  
    </div> <!-- row -->

  </div> <!-- container -->
</section>

<!--====== Publications PART ENDS ======-->


<!--====== Blogs PART START ======-->

<section class="work-area pt-25 pb-30" id="blogs">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title pb-25">
          <h2 class="title">My Blogs</h2>
          <p></p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- https://www.twilik.com/embed-your-medium-blog -->
        <!-- https://hershilpiplani.medium.com/how-to-embed-your-medium-articles-on-your-website-85bfb7ddf943 -->
        <div id="retainable-rss-embed" 
          data-rss="https://medium.com/feed/@hossain.mazharul" data-maxcols="3"
          data-layout="slider" data-poststyle="external" data-offset="-100">
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== Blogs PART ENDS ======-->


<!--====== SERVICES PART START ======-->

<section class="services-area gray-bg pt-25 pb-30" id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-30">
          <h2 class="title">My Expertise</h2>
          <p>.</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-code-alt"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">AI, ML and Deep Learning</a></h4>
            <p>.</p>
          </div>
        </div> <!-- single service -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-website"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">Web Development</a></h4>
            <p></p>
          </div>
        </div> <!-- single service -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="single-service text-center mt-30">
          <div class="service-icon">
            <i class="lni-support"></i>
          </div>
          <div class="service-content">
            <h4 class="service-title"><a href="#">Data Scientist</a></h4>
            <p>.</p>
          </div>
        </div> <!-- single service -->
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->


<!--====== CALL TO ACTION PART START ======-->

<!-- <section class="call-to-action pt-125 pb-130 bg_cover" id="call-to-action"
  style="background-image: url(assets/images/call-to-action.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <div class="call-action-content text-center">
          <h2 class="action-title">Have any project on mind?</h2>
          <p>Interested to hire me? Any product idea in mind or need software solution.</p>
          <ul>
            <li><a class="main-btn custom" href="#">request cv</a></li>
            <li><a class="main-btn custom-2" href="#">hire me</a></li>
          </ul>
        </div>
        -->
<!-- call action content -->
<!-- </div> -->
<!-- </div>  -->
<!-- row -->
<!-- </div>  -->
<!-- container -->
<!-- </section>  -->

<!--====== CALL TO ACTION PART ENDS ======-->


<!--====== WORK PART START ======-->

<section class="work-area pt-25 pb-30" id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title pb-25">
          <h2 class="title">My Recent Projects</h2>
          <p></p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-work text-center mt-30">
          <div class="work-image">
            <picture>
              <source type="image/webp" srcset="assets/images/next_gen/work/w-1.webp" alt="work">
              <img loading="lazy" alt="work" src="assets/images/work/w-1.png">
            </picture>
          </div>
          <div class="work-overlay">
            <div class="work-content">
              <h3 class="work-title">Map901</h3>
              <p>Indoor LiDAR and Image Dataset | Indoor Object Detection using DNN</p>
              <ul>
                <li><a class="image-popup" href="assets/images/work/w-1.png">
                    <i class="lni-plus"></i></a></li>
                <li><a href="http://map901.memphis.edu/" target="_blank" rel="nofollow noopener noreferrer">
                    <i class="lni-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!-- single work -->
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-work text-center mt-30">
          <div class="work-image">
            <picture>
              <source type="image/webp" srcset="assets/images/next_gen/work/w-2.webp" alt="work">
              <img loading="lazy" alt="work" src="assets/images/work/w-2.png">
            </picture>
          </div>
          <div class="work-overlay">
            <div class="work-content">
              <h3 class="work-title">Personal Website</h3>
              <ul>
                <li><a class="image-popup" href="assets/images/work/w-2.png">
                    <i class="lni-plus"></i></a></li>
                <li><a href="https://github.com/Mazharul-Hossain/Personal-Website" target="_blank"
                    rel="nofollow noopener noreferrer"><i class="lni-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div> <!-- single work -->
      </div>

      <!--      <div class="col-lg-4 col-md-6 col-sm-6">-->
      <!--        <div class="single-work text-center mt-30">-->
      <!--          <div class="work-image">-->
      <!--            <img loading="lazy" alt="work" src="assets/images/work/w-1.jpg">-->
      <!--          </div>-->
      <!--          <div class="work-overlay">-->
      <!--            <div class="work-content">-->
      <!--              <h3 class="work-title">Product Design</h3>-->
      <!--              <ul>-->
      <!--                <li><a class="image-popup" href="assets/images/work/w-1.jpg"><i-->
      <!--                  class="lni-plus"></i></a></li>-->
      <!--                <li><a href="#"><i class="lni-link"></i></a></li>-->
      <!--              </ul>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div> &lt;!&ndash; single work &ndash;&gt;-->
      <!--      </div>-->

    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== WORK PART ENDS ======-->