<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area">
    <div class="footer-widget pt-50 pb-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="footer-content text-center">
                        <a href="index.html">
                            <img loading="lazy" src="assets/images/logo-2.png" alt="Logo">
                        </a>
                        <p class="mt-"></p>
                        <ul>
                            <li><a href="https://stackoverflow.com/u/2049763/" target="_blank"
                                   rel="noopener noreferrer"><i
                                    class="lni-stackoverflow"></i></a></li>
                            <li><a href="https://github.com/Mazharul-Hossain/" target="_blank" 
                                   rel=" noopener noreferrer"><i class="lni-github-original"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/hossainmazhar" target="_blank"
                                   rel="noopener noreferrer"><i class="lni-linkedin-original"></i></a></li>
                            <li><a href="https://www.quora.com/profile/Mazharul-Hossain/" target="_blank"
                                    rel="noopener noreferrer"><i class="lni-quora"></i></a></li>
                            <li><a href="https://medium.hmazharul.com/" target="_blank"
                                rel="noopener noreferrer"><i class="lni-medium"></i></a></li>
                        </ul>
                    </div> <!-- footer content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    <div class="footer-copyright pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-text text-center pt-20">
                        <p>Copyright © 2022. Template Crafted by <a href="https://uideck.com" target="_blank"
                                                                    rel="nofollow noopener noreferrer">UIdeck</a>
                        </p>
                    </div> <!-- copyright text -->
                </div>
                <div class="col-lg-6">
                    <div class="copyright-text text-center pt-20">
                        <p>Copyright © 2023 Mazharul Hossain</p>
                    </div> <!-- copyright text -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->