<!--====== Publications PART START ======-->

<section class="work-area pt-25 pb-30" id="publications">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title" style="margin-top: 50px; padding: 20px;">My Research Publications</h2>
                    <p>.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-warning" role="alert">
                    <h3><u>DISCLAIMER:</u></h3>
                    <p>This material is presented to ensure timely dissemination of scholarly and technical work.
                        Copyright and
                        all
                        rights therein are retained by authors or by other copyright holders. All persons copying this
                        information
                        are
                        expected to adhere to the terms and constraints invoked by each author's copyright. In most
                        cases, these
                        works
                        may not be reposted without the explicit permission of the copyright holder.

                    </p>

                    <p>Personal use of this material is permitted. However, permission to reprint/republish this
                        material for
                        advertising or promotional purposes or for creating new collective works for resale or
                        redistribution to
                        servers
                        or lists, or to reuse any copyrighted component of this work in other works must be obtained
                        from the
                        publishers.

                    </p>

                    <p>All the IEEE journal, magazine and conference publications have the following copyright notice
                        "20xx IEEE.
                        Personal use of this material is permitted. Permission from IEEE must be obtained for all other
                        uses,
                        including
                        reprinting/republishing this material for advertising or promotional purposes, collecting new
                        collected
                        works
                        for resale or redistribution to servers or lists, or reuse of any copyrighted component of this
                        work in
                        other
                        works."

                    </p>
                    <hr>
                </div>

                <h3>Here is my <a href="https://scholar.google.com/citations?user=SGyRAu8AAAAJ&hl=en"
                        target="_blank">Google Scholar Profile</a>.</h3>
            </div> <!-- single work -->
        </div> <!-- row -->
        <br>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="title">Book Chapters and Journal Papers</h2>


                <ul>
                    <li>
                        <b>M. Hossain</b>, M. Younis, A. Robinson, L. Wang, C. Preza, "<a
                            href="https://www.cs.memphis.edu/~lanwang/paper/jimaging-10-00131.pdf"
                            target="_blank">Greedy
                            Ensemble
                            Hyperspectral Anomaly Detection</a>," <i>Journal of Imaging</i>, 10 (6), 131, May 2024 [<a
                            href="https://www.mdpi.com/2313-433X/10/6/131" target="_blank">publisher link</a>]
                    </li>

                    <li>
                        <b>M. Hossain</b>, T. Ma, T. Watson, B. Simmers, J. A. Khan, E. Jacobs, L. Wang, "<a
                            href="https://www.cs.memphis.edu/~lanwang/paper/Springer_book_our_version.pdf"
                            target="_blank">Building
                            Rich Interior Hazard Maps for Public Safety</a>," <i>Communications in Computer and
                            Information
                            Science</i>, vol 1612. Klein, C., Jarke, M., Helfert, M., Berns, K., Gusikhin, O. (eds)
                        Smart
                        Cities,
                        Green Technologies, and Intelligent Transport Systems. VEHITS SMARTGREENS 2021, Springer, 2022
                        [<a href="https://link.springer.com/chapter/10.1007/978-3-031-17098-0_9"
                            target="_blank">publisher
                            link</a>]
                        (This is an extended version of our SMARTGREENS 2021 conference paper.)
                    </li>
                </ul>


            </div> <!-- single work -->

        </div> <!-- row -->
        <br>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <h2 class="title">Conference and Workshop Papers</h2>

                <ul>
                    <li>
                        <b>M. Hossain</b>, A. Robinson, L. Wang, C. Preza, "<a
                            href="https://mazharul-hossain.github.io/paper/SPIE2025_SemanticSegmentation_HRViTUNet.pdf"
                            target="_blank">Improving Semantic
                            Segmentation
                            through Task Adaptation for UAV Hyperspectral Agricultural Imagery</a>," in the 10th
                        conference on
                        <i>Autonomous Air and Ground Sensing Systems for Agricultural Optimization and Phenotyping
                            2025</i>,
                        SPIE,
                        April 2025. [<a
                            href="https://mazharul-hossain.github.io/paper/13475-6_SPIE2025_SemanticSegmentation_HRViTUNet.pdf"
                            target="_blank">Slides</a>
                        | <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/13475/1347507/Improving-semantic-segmentation-through-task-adaptation-for-UAV-hyperspectral-agricultural/10.1117/12.3053426.short">Publisher Link</a>]
                    </li>

                    <li>
                        <b>M. Hossain</b>, A. Robinson, L. Wang, C. Preza, "<a
                            href="https://www.cs.memphis.edu/~lanwang/paper/SPIE2024_unsupervised_HS_AD.pdf"
                            target="_blank">Investigation of Unsupervised and Supervised Hyperspectral Anomaly
                            Detection</a>,"
                        in
                        <i>Applications of Machine Learning 2024</i>, Vol. 13138, pp. 251-261, SPIE, poster, October
                        2024. [<a
                            href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/13138/1313817/Investigation-of-unsupervised-and-supervised-hyperspectral-anomaly-detection/10.1117/12.3029916.short"
                            target="_blank">Publisher Link</a>]
                    </li>


                    <li><b>M. Hossain</b>, Das, S., Krishnamurthy, B., Shiva, S. G., "Explainability of Artificial
                        Intelligence Systems: A Survey", In <i>2023 International Symposium on Networks, Computers and
                            Communications
                            (ISNCC)</i>, pp. 1-6, IEEE, October 2023. [<a
                            href="https://doi.org/10.1109/ISNCC58260.2023.10323642" target="_blank">Publisher Link</a>]
                    </li>

                    <li>
                        Dajkhosh, S. P., <b>Hossain, M.</b>, & Preza, C., "USR: Unrolled Super-Resolution with Deep
                        Priors for
                        Structured Illumination Microscopy", in <i>Imaging Systems and Applications</i>, pp. JTu4A-42,
                        Optica
                        Publishing Group, August 2023. [<a href="https://doi.org/10.1364/3D.2023.JTu4A.42"
                            target="_blank">Publisher
                            Link</a>]
                    </li>


                    <li>Das, S., <b>M. Hossain</b>, Shiva, S. G., "Requirements Elicitation and Stakeholder
                        Communications for
                        Explainable Machine Learning Systems: State of the Art", in <i>2023 International Conference on
                            Information
                            Technology (ICIT)</i>, pp. 561-566, IEEE, August 2023. [<a
                            href="https://doi.org/10.1109/ICIT58056.2023.10225934" target="_blank">Publisher Link</a>]
                    </li>

                    <li>
                        M. S. H. Younis, <b>M. Hossain</b>, A. L. Robinson, L. Wang, C. Preza, "<a
                            href="https://www.cs.memphis.edu/~lanwang/paper/SPIE-conference23.pdf"
                            target="_blank">Hyperspectral
                            Unmixing-based Anomaly Detection</a>," in <i>Computational Imaging VII</i>, Vol. 12523.
                        SPIE, June
                        2023.
                        [<a href="https://doi.org/10.1117/12.2664706" target="_blank">Publisher Link</a>]
                    </li>

                    <li>Dajkhosh, S. P., <b>M. Hossain</b>, & Preza, C., Structured illumination microscope image
                        reconstruction
                        using unrolled physics-informed generative adversarial network (UPIGAN), in <i>Computational
                            Imaging
                            VII</i>, Vol. 12523, pp. 63-74, SPIE, June, 2023. [<a
                            href="https://doi.org/10.1117/12.2663268" target="_blank">Publisher Link</a>]
                    </li>

                    <li>
                        <b>M. Hossain</b>, T. Ma, T. Watson, B. Simmers, J. A. Khan, E. Jacobs, L. Wang, "<a
                            href="https://www.cs.memphis.edu/~lanwang/paper/SMARTGREENS_2021_21_CR.pdf"
                            target="_blank">Building
                            Indoor Point Cloud Datasets with Object Annotation for Public Safety</a>," in <i>Proceedings
                            of the
                            10th
                            International Conference on Smart Cities and Green ICT Systems (SMARTGREENS 2021)</i>, April
                        2021
                        [<a href="https://www.scitepress.org/PublicationsDetail.aspx?ID=upgJR0REHi8=&amp;t=1"
                            target="_blank">Publisher Link</a>]
                    </li>

                </ul>




            </div> <!-- single work -->

        </div> <!-- row -->
        <br>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <h2 class="title">Thesis and Dissertation</h2>

                <ul>
                    <li>
                        <b>Hossain, M</b>, "<a href="https://mazharul-hossain.github.io/paper/Dissertation_Proposal.pdf" target="_blank">Investigation of Target Detection in Hyperspectral Images for Aided Target Recognition</a>", PhD Dissertation Proposal, University of Memphis,
                        May 2025. [<a href="https://mazharul-hossain.github.io/paper/Dissertation_Proposal_Defense.pdf" target="_blank">Slides</a> | <a href="https://mazharul-hossain.github.io/paper/Summary_Dissertation_Proposal.pdf" target="_blank">Summary</a>]
                    </li>
                    <li>
                        <b>Hossain, M</b>, "<a href="https://digitalcommons.memphis.edu/etd/2200/"
                            target="_blank">Instance
                            Segmentation of Public Safety Objects in RGB Image from Indoor Scene to Build Rich Interior
                            Hazard
                            Maps</a>", in <i>Electronic Theses and Dissertations, 2200</i>, MS Thesis University of
                        Memphis,
                        August 2021.
                    </li>
                    <li>
                        <b>Hossain, M</b>, "<a href="http://dx.doi.org/10.13140/RG.2.2.15611.84000" target="_blank">A
                            Tale of
                            Energy Management in Heterogeneous Networks Using MDP</a>", BS Thesis Bangladesh University
                        of
                        Engineering and Technology, July 2014.
                    </li>
                </ul>

            </div> <!-- single work -->

        </div> <!-- row -->
        <br>

    </div> <!-- container -->
</section>

<!--====== Publications PART ENDS ======-->